/*
| -------------------------------------------------------------------
|  MTG Node LESS Layout
| -------------------------------------------------------------------
|
|
|   Author : Yomguithereal
|   Version : 1.0
*/
@import url(http://fonts.googleapis.com/css?family=Roboto);

body, html {
  font-family: 'Roboto', sans-serif;
}

BODY {
  margin:0;
  padding-top: 51px;
}

#mainframe {
  margin: 0 auto;
  margin-top:10px;
  padding:0;
  min-height:760px;
}

#helper_block {
  width: @playground-left-panel-width;
  margin:0;
  height:780px;
  float:left;
  border:1px solid black;
  border-right:none;
}

#top_helper_block, #bottom_helper_block {
  height:363px;
}

#top_helper_block {
  //border-bottom : 1px solid black;
}

#bottom_helper_block {
  //border-top : 1px solid black;
}

#card_viewer_block {
  height:@card-viewer-height;
}

#deck_builder_container {
  width: 1039px;
  margin: 0;
  height:780px;
  float:right;
  border:1px solid black;
}

#left_panel {
  border-right:1px solid black;
  float:left;
  width:517px;
  height:100%;
  overflow-y:scroll;
}

#right_panel {
  float:right;
  width:517px;
  height:100%;
  text-align: left;
  overflow-y:scroll;
}

#game_block {
  width: calc(~'100% - 250px');
  height:780px;
  border:1px solid black;
}

.game-area {
  position : relative;
}

#top_game_block {
  height: 363px;
  position: relative;
}

#bottom_game_block {
  height: 364px;
  //border-top:1px solid black;
  position: relative;
}

#top_game_block.opponent,
#bottom_game_block.opponent {
  background-color: #cccccc;
}

.library-and-hand {
  position:absolute;
  width:100%;
  height:@card-min-height;

  &.top {
    top:0;
    border-bottom:1px solid black;
  }

  &.bottom {
    bottom:0;
    border-top: 1px solid black;
  }
}

.hand-emplacement {
  height:@card-min-height;
  width: @hand-width;
  position: absolute;
  left: (@card-min-width + 1) * 3;
}

.exile-emplacement {
  width:@card-min-width;
  height:@card-min-height;
  position: absolute;
  left: 0;

  &.top {
    border-right:1px solid black;
  }

  &.bottom {
    bottom:0;
    border-right:1px solid black;
    border-top:1px solid black;
  }
}

.library-emplacement {
  width:@card-min-width;
  height:@card-min-height;
  position: absolute;
  left: (@card-min-width + 1) * 2;

  &.top {
    border-right:1px solid black;
  }

  &.bottom {
    bottom:0;
    border-right:1px solid black;
    border-top:1px solid black;
  }
}

.graveyard-emplacement {
  width:@card-min-width;
  height:@card-min-height;
  position: absolute;
  left: (@card-min-width + 1);

  &.top {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
  }

  &.bottom  {
    bottom:0;
    border-top:1px solid black;
    border-right:1px solid black;
  }
}

.game-emplacement {
  height:268px;
  width:100%;
  position:absolute;
  z-index:10;
}

#top_game_zone {
  bottom:0;
}

.context-menu {
  position: absolute;
  display:none;
  z-index: @modal-zindex - 2;
}

.modal-body-search {
  height: 500px;
  overflow-y: scroll;
  text-align: center;
}

.card-container {
  position:absolute;
  top:0;
  left:0;
}

.valid {
  color:green;
}
.error {
  color:red;
}

#chat_container {
  position: absolute;
  z-index: @modal-zindex - 1;
}

#chat_container > .modal-content{
  width: 300px;
  height: 260px;
  cursor: pointer;
}

#chat_close {
  text-align: right;
  display: block;
}

#chat_messages {
  height: 130px;
  overflow-y: scroll;
  font-size: 12px;
}

#deck_to_parse {
  height: 400px;
}

// login
body.login {
  background-color: #fff;
}
.login-screen {
  padding-top: 5.2em;
}

.login-form {
  width: 350px;
  margin: 0 auto;
  padding: 24px 23px 20px;
  background-color: #eee;
  border-radius: 6px;
}
.login-form h3 {
  margin: 0 0 15px 0;
  color: #000;
  font-weight: 700;
}
.login-form input {
  border: none;
  margin-bottom: 0.809em;
}
.login-link {
  display: block;
  margin-top: 15px;
  font-size: 0.809em;
  color: #BFC9CA;
  text-align: center;
  cursor: pointer;
}

.form-control + .input-group-btn button {
  color: #fff;
}

