.player-stats {
  font-size: 0.809em;
}
.player-stats.op {
  width: @card-min-width*2;
  position: absolute;
  right: 0;
}

.nav.playground {
  z-index: 4000;
}

.hitpoints-block {
  margin-right: 20px;
}

.game-area.content {
  padding: 0;
}

.card-bar {
  float: left;
  width: 78px;
  margin-right: 8px;
}
.card-bar:last-child {
  margin-right: 0;
}