extends ../layout

block navigation
  div#mtgnav.collapse.navbar-collapse
    ul.nav.navbar-nav
      li.active
        a.pointer(href='/lobby') Lobby
      li
        a.pointer(href='/deck-builder') Deck Builder

    ul.subnavbar.nav.navbar-nav.navbar-highlight.navbar-right
      li
        a.pointer(href='#host_game_modal', data-toggle='modal') Host Game
      li
        a.pointer(href='/playground/debug') Game Debug
      li
        a.pointer(href='#logout') Log out

block body
  div#mainframe
    h2 Welcome to the Lobby #{SESSION.username}

    p Current Games :
    div.well
      ul#game_list

    div#host_game_modal.modal.fade
      div.modal-dialog
        div.modal-content
          div.modal-header
            h3 Host a Game
          div.modal-body
            input#host_game_name.form-control(type='text')
          div.modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal', aria-hidden='true') Close
            button.btn.btn-primary(type='button', id='host_game') Start

block contextual_js
  script(type="text/javascript", src="/js/src/generic/realtime.js")
  script(type="text/javascript", src="/js/src/simple/lobby.js")
