extends ../layout
include ../mixins/card_drivers
include ../mixins/modals
include ../mixins/selects
include ../mixins/context_menus
include ../mixins/plugins
include ../mixins/exposure
include ../templates/cards
include ../templates/counters

block navigation
  div#mtgnav.collapse.navbar-collapse
    div.nav.navbar-nav
      p.navbar-text [GAME-NAME]
    ul.subnavbar.nav.navbar-nav.navbar-highlight.navbar-right
      li
        a.pointer(href='/lobby?pause') Pause Game
      li
        a.pointer(href='/lobby?quit') Quit Game
      li
        a.pointer(href='#logout') Log out

block body
  +chat_widget()
  div#mainframe.playground
    div#helper_block
      div#top_helper_block
        div.card_viewer
          +card_viewer_widget()
        div.message-receiver.top &nbsp;

      // player
      div#bottom_helper_block

        div.hitpoints-block.btn-group
          a.btn.btn-default.top.lose.update-hitpoints -
          span.btn.btn-default.hitpoints-counter.top 20
          a.btn.btn-default.bottom.gain.update-hitpoints +

        div.infection-block.btn-group
            a.btn.btn-default.lose.update-infection.bottom(type="button") -
            span.btn.btn-default.infection-counter.bottom(type="button") 0
            a.btn.btn-default.gain.update-infection.bottom(type="button") +

        div.player-stats
          table.table.table-striped.table-condensed
            thead
              tr
                th Stats
                th You
                th Opponent
            tbody
              tr
                td Library
                td.bottom_helper_block
                  span.library-counter.bottom 0
                td.top_helper_block
                  span.library-counter.top 0
              tr
                td Hand
                td.bottom_helper_block
                  span.hand-counter.bottom 0
                td.top_helper_block
                  span.hand-counter.top 0
              tr
                td Graveyard
                td.bottom_helper_block
                  span.graveyard-counter.bottom 0
                td.top_helper_block
                  span.graveyard-counter.top 0
              tr
                td Exile
                td.bottom_helper_block
                  span.exile-counter.bottom 0
                td.top_helper_block
                  span.exile-counter.top 0
              tr
                td Battlefield
                td.bottom_helper_block
                  span.battlefield-counter.bottom 0
                td.top_helper_block
                  span.battlefield-counter.top 0

        div.message-receiver.bottom &nbsp;

    div#game_block.game-area.content
      div#top_game_block.top.player-side(data-toggle="context",data-target="#card_context_menu")
        div#top_handlogic.library-and-hand.top
          div#top_exile.exile-emplacement.top
          div#top_graveyard.graveyard-emplacement.top
          div#top_library.library-emplacement.top
          div#top_hand.hand-emplacement.top
          div.panel.panel-default.player-stats.op.hidden-xs
            table.table.table-striped.table-condensed
              thead
                tr
                  th(colspan='2') OPPONENT PLAYER
              tbody
                tr
                  td Life
                  td
                    span.hitpoints-counter.top 20
                tr
                  td Infection
                  td
                    span.infection-counter.top 0
        div#top_battlefield.game-emplacement.top.valid-drag-zone

      div#playgroundnav.collapse.navbar-collapse
        div.nav.navbar-default.playground
          +library_menu()
          +battlefield_menu()
          +hand_menu()
          +graveyard_menu()
          +exile_menu()
          ul.nav.navbar-nav
            li
              a#chat_trigger.pointer Chat

      div#bottom_game_block.bottom.player-side
        div#bottom_battlefield.game-emplacement.bottom.valid-drag-zone
        div#bottom_handlogic.library-and-hand.bottom.valid-drag-zone
          div#bottom_exile.exile-emplacement.bottom
          div#bottom_graveyard.graveyard-emplacement.bottom
          div#bottom_library.library-emplacement.bottom
          div#bottom_hand.hand-emplacement.bottom

block modals
  +deck_choice_modal(decks)
  +card_choice_modal()
  +card_context_modal()

block context_menus

block templates
  +playground_card_template()
  +dummy_card_template()
  +search_card_template()
  +plus_one_counter_template()

block global_js
  +user_exposure()
  +game_exposure()

block contextual_js
  +load_driver()

  //- Generic
  script(type="text/javascript", src="/js/src/plugins/card_viewer.js")
  script(type="text/javascript", src="/js/src/plugins/context_menu.js")
  script(type="text/javascript", src="/js/src/generic/realtime.js")
  script(type="text/javascript", src="/js/src/generic/detectmobilebrowser.js")

  //- Specific
  script(type="text/javascript", src="/js/src/playground/playground.js")
  script(type="text/javascript", src="/js/src/playground/playground.helpers.js")
  script(type="text/javascript", src="/js/src/playground/playground.hacks.js")
  script(type="text/javascript", src="/js/src/playground/playground.properties.js")
  script(type="text/javascript", src="/js/src/playground/playground.services.js")
  script(type="text/javascript", src="/js/src/playground/playground.area.js")

  for module in ['modals', 'counter', 'points', 'drag', 'chat']
    script(type="text/javascript", src="/js/src/playground/playground.module." + module + ".js")
  for area in ['library', 'hand', 'exile', 'graveyard', 'battlefield']
    script(type="text/javascript", src="/js/src/playground/playground.area." + area + ".js")
  script(type="text/javascript", src="/js/src/playground/playground.controller.js")
