extends ../layout
include ../mixins/card_drivers
include ../mixins/modals
include ../mixins/selects
include ../mixins/context_menus
include ../mixins/plugins
include ../mixins/exposure
include ../templates/cards
include ../templates/counters

block navigation
  div.nav.navbar-nav
    p.navbar-text [GAME-NAME]
  ul.subnavbar.nav.navbar-nav.navbar-highlight.navbar-right
    li
      a.pointer(href='/lobby?pause') Pause Game
    li
      a.pointer(href='/lobby?quit') Quit Game
    li
      a.pointer(href='#logout') Log out

block body
  +chat_widget()
  div#mainframe.playground
    div#helper_block
      div#top_helper_block
        +card_viewer_widget()
        // opponent
        div.panel.panel-default.player-stats.op
          table.table.table-striped.table-condensed
            thead
              tr
                th(colspan='2') OPPONENT PLAYER
            tbody
              tr
                td Life
                td
                  span.hitpoints-counter.top 20
              tr
                td Infection
                td
                  span.infection-counter.top 0
              tr
                td Library
                td
                  span.library-counter.top 0
              tr
                td Hand
                td
                  span.hand-counter.top 0
              tr
                td Graveyard
                td
                  span.graveyard-counter.top 0
              tr
                td Exile
                td
                  span.exile-counter.top 0
              tr
                td Battlefield
                td
                  span.battlefield-counter.top 0
          div.message-receiver.top &nbsp;

      // player
      div
        div#bottom_helper_block

          div.hitpoints-block.btn-group
            a.btn.btn-default.top.lose.update-hitpoints -
            span.btn.btn-default.hitpoints-counter.top 20
            a.btn.btn-default.bottom.gain.update-hitpoints +

          div.infection-block.btn-group
              a.btn.btn-default.lose.update-infection.bottom(type="button") -
              span.btn.btn-default.infection-counter.bottom(type="button") 0
              a.btn.btn-default.gain.update-infection.bottom(type="button") +

          div.player-stats
            table.table.table-striped.table-condensed
              thead
                tr
                  th Lib.
                  th Hand
                  th Gravey.
                  th Exile
                  th Battle.
              tbody
                tr
                  td
                    span.library-counter.bottom 0
                  td
                    span.hand-counter.bottom 0
                  td
                    span.graveyard-counter.bottom 0
                  td
                    span.exile-counter.bottom 0
                  td
                    span.battlefield-counter.bottom 0
          div.message-receiver.bottom &nbsp;
          div.chat
            button#chat_trigger.btn.btn-primary(type="button") Chat

    div#game_block.game-area.content
      div#top_game_block.top.player-side
        div#top_handlogic.library-and-hand.top
          div#top_exile.exile-emplacement.top
          div#top_graveyard.graveyard-emplacement.top
          div#top_library.library-emplacement.top
          div#top_hand.hand-emplacement.top
        div#top_battlefield.game-emplacement.top.valid-drag-zone

      div.nav.navbar-default.playground
        +library_menu()
        +hand_menu()
        +graveyard_menu()
        +exile_menu()

      div#bottom_game_block.bottom.player-side
        div#bottom_battlefield.game-emplacement.bottom.valid-drag-zone
        div#bottom_handlogic.library-and-hand.bottom.valid-drag-zone
          div#bottom_exile.exile-emplacement.bottom
          div#bottom_graveyard.graveyard-emplacement.bottom
          div#bottom_library.library-emplacement.bottom
          div#bottom_hand.hand-emplacement.bottom

block modals
  +deck_choice_modal(decks)
  +card_choice_modal()

block context_menus
  +battlefield_context_menu()
  +library_context_menu()
  +hand_context_menu()
  +graveyard_context_menu()
  +exile_context_menu()

block templates
  +playground_card_template()
  +dummy_card_template()
  +search_card_template()
  +plus_one_counter_template()

block global_js
  +user_exposure()
  +game_exposure()

block contextual_js
  +load_driver()

  //- Generic
  script(type="text/javascript", src="/js/src/plugins/card_viewer.js")
  script(type="text/javascript", src="/js/src/plugins/context_menu.js")
  script(type="text/javascript", src="/js/src/generic/realtime.js")

  //- Specific
  script(type="text/javascript", src="/js/src/playground/playground.js")
  script(type="text/javascript", src="/js/src/playground/playground.helpers.js")
  script(type="text/javascript", src="/js/src/playground/playground.hacks.js")
  script(type="text/javascript", src="/js/src/playground/playground.properties.js")
  script(type="text/javascript", src="/js/src/playground/playground.services.js")
  script(type="text/javascript", src="/js/src/playground/playground.area.js")

  for module in ['modals', 'counter', 'points', 'drag', 'chat']
    script(type="text/javascript", src="/js/src/playground/playground.module." + module + ".js")
  for area in ['library', 'hand', 'exile', 'graveyard', 'battlefield']
    script(type="text/javascript", src="/js/src/playground/playground.area." + area + ".js")
  script(type="text/javascript", src="/js/src/playground/playground.controller.js")
